.text {
  text-align: center;
  h2 {
    font-size: 60px;
    line-height: 72px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(14, 14, 14, 0.5);
  }
}
.icon{
  padding-bottom: 3px;
}
.option {
  text-shadow: 1px 1px 3px rgba(14, 14, 14, 0.5);
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    font: var(--font-m);
    color: var(--primary-color);
    margin-right: 2px;
    position: relative;
  }
  span{
    font: var(--font-m);
    color: #f1f1f1;
  }
}
