.workout {
  height: 255px;
  margin-right: 15px;
  position: relative;
  margin-bottom: 30px;
  color: var(--primary-color);
  & .text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  & h4 {
    font: var(--font-s);
    font-weight: 600;
  }
  & span {
    font-size: 14px;
  }
  img{
    height: 255px;
  }
}
.stories {
  height: 100%;
  text-align: center;
  p {
    font-size: 22px;
    color: var(--bg-footer);
    line-height: 30px;
    margin-bottom: 60px;
  }
  .slideStory {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image{
      position: relative;
    }
    .image img{
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      z-index: 1;
    }
    .image .quote{
      position: absolute;
      left: 23px;
      top: -21px;
      z-index: -1;
      img{
        width: auto;
        height: auto;
        border-radius: initial;
      }
    }
  }
}
.author{
  margin-top: 25px;
  h4{
    font: var(--font-s);
    color: var(--bg-footer);
    font-weight: 600;
    margin-bottom: 8px;
  }
  span{
    font: var(--font-m);
    color: var(--orange);
  }
}

@media (max-width: 1024px) {
  .workout {
    max-width: 380px;
  }
}

